.error {
  color: red;
  font-size: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#label {
  margin-right: 5px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
